.parent {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 10px;
}

.blank {
  background-color: gray;
  border: solid 4px;
  transition: 1s;
}

.blank:hover {
  cursor: pointer;
  scale: 1.1 1.1;
}

.used1 {
  background-color: red;
  transition: 0.25s;
border: black solid 4px;
  scale: 1.1 1.1;
  text-align: center;
  font-size: 50px;
  pointer-events: none;

}

.used2 {
  background-color: green;
  pointer-events: none;
  border: black solid 4px;
  scale: 1.1 1.1;
  text-align: center;
  font-size: 50px;
  transition: 0.25s;
}

.winner{
  background-color: #00FFA6;
  pointer-events: none;
  border: black solid 4px;
  scale: 1.1 1.1;
  text-align: center;
  font-size: 50px;
  transition: 0.25s;
}

.scoreboredx{
  border:solid red;
  position: absolute;
  right: 5px;
  scale: 1.7 1.7;
}
.scoreboredo{
    border:solid green;
  position: absolute;
  right: 50px;
  scale: 1.7 1.7;
}

.scorebored{
  position: absolute;
  right: 100px;
  scale: 1.7 1.7;
}


.reset{
  position: absolute;
  right:80px;
  bottom:350px;
  color:purple;
}

#winner {
  font-size: 40px;
  white-space: nowrap; 
}